{
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "tabWidth": 4,
        "rubySingleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "endOfLine": "lf"
      }
    }
  ]
}
